button {
    border: none;
    padding: $spacers-m $spacers-l;
    margin: 0;
    background: transparent;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    appearance: none;
    border: 1px solid transparent;

    &:hover, &:focus {
        border: 1px solid $color-lightGrey;
    }

    &:focus {
        border: 1px solid $color-lightGrey;
        outline: 0;
    }

    &:active {
    }
}

.btn {
    @extend .base-button;
    &--primary {

        &:hover {

        }
    }
    &--secondary {
        padding: $spacers-m $spacers-l;
        border: 1px solid $color-link;
        @include base-size(20);
        @include base-flex(inline-flex,space-between,center);
        margin-left: $spacers-l;

        @include large-max {
            @include base-size(16);
        }

        &::after {
            @extend .icon-awesome;
            content: '\f105';
            font-size: 1em;
            color: $color-lightGrey;
            padding-left: $spacers-l;
        }
    }
    &--dropdown {
        @include base-flex(inline-flex,space-between,center);
        margin-right: $spacers-l;
        margin-bottom: $spacers-s;
        background: $color-link;
        color: white;
        font-weight: 400;

        @include mobile {
            @include base-size(14);
            margin-right: $spacers-s;
        }
        
        &::after {
            @extend .icon-awesome;
            content: '\f078';
            font-size: .75em;
            padding-left: $spacers-l;
            
        }
    }
}

